*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* 更新更新 */
/* nav */
.nav{
    width: 100%;
    height: 32px;
    background: #f2f2f2;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.navBox{ 
    width: 1490px;
    height: 32px;
    margin: 0 auto;
}
.navBox .navLeft{
    float: left;
}
.navBox .navLeft ul{
    height: 32px;
}
.navBox .navLeft ul li{
    float: left;
    line-height: 32px;
    margin-right: 26px;
    font-size: 14px;
}
.navLeftSpan{
    color: red;
}
.navBox .navLeft a{
    float: left;
    color: #b2b2b2;
    font-size: 14px;
}
.navBox .navLeft li:nth-child(1) a{
    padding-left: 20px;
    background: url("../images/nav01.jpg") no-repeat left 9px;
}
.navBox .navLeft a:hover{
    color: red;
}
.navRit{
    float: right;
}
.navRit>ul>li{
    float: left;
    line-height: 32px;
    padding: 0 5px;
}
.navRit ul li a{
    float: left;
    color: #b2b2b2;
    font-size: 14px;
    margin-right: 21px;
}
.navRit ul li a:hover{
    color: red;
}
.navRit>ul>li:nth-child(1){
    position: relative;
    padding-right: 10px;
}
.navRit ul li:nth-child(1) span{
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top: 5px solid #b2b2b2;
    position: absolute;
    right: 16px;
    top: 14px;
    transition: all .5s;
    transform-origin: center 25%;
}
.navRit ul li:nth-child(1):hover{
    background: white;
}
.navRit ul li:nth-child(1) div{
    width: 112px;
    height: 64px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 33px;
    background: white;
    border: 1px solid #f2f2f2;
    border-top: none;
    display: none;
    z-index: 10;
}
.navRit ul li:nth-child(1) div a{
    display: block;
    font-size: 14px;
    padding-left: 5px;
}
.navRit ul li:nth-child(1):hover div{
    display: block;
}
.navRit ul li:nth-child(1):hover span{
    transform: rotate(180deg);
}
.navRit>ul>li:nth-child(2){
    padding-left: 25px;
}
.navRit > ul > li:nth-child(2){
    background: url("../images/nav02.jpg") no-repeat 3px 9px;
}
.navRit ul li:nth-child(3){
    position: relative;
}
.navRit ul li:nth-child(3):hover{
    background: white;
}
.navRit ul li:nth-child(3) div{
    width: 102px;
    height: 64px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 33px;
    background: white;
    border: 1px solid #f2f2f2;
    border-top: none;
    padding-left: 5px;
    display: none;
    z-index: 10;
}
.navRit ul li:nth-child(3):hover div{
    display: block;
}
.navRit ul li:nth-child(4){
    position: relative;
}
.navRit>ul>li:nth-child(4) a{
    padding-left: 20px;
    background: url("../images/nav03.jpg") no-repeat 3px 9px;
}

.navRit ul li:nth-child(4) span{
    display: block;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom: 6px solid white;
    position: absolute;
    left: 38px;
    bottom: -1px;
    display: none;
}
.navRit ul li:nth-child(4) div{
    position: absolute;
    right: -31px;
    top: 34px;
    width: 150px;
    height: 150px;
    background: skyblue;
    display: none;
    z-index: 10;
}
.navRit ul li:nth-child(4) div img{
    width: 100%;
}
.navRit ul li:nth-child(4):hover span{
    display: block; 
}
.navRit ul li:nth-child(4):hover div{
    display: block;
}
.navRit ul li:nth-child(6){
    position: relative;
    box-sizing: border-box;
}
.navRit>ul>li:nth-child(6)>a{
    margin: 0 11px;
}
.navRit ul li:nth-child(6) div{
    position: absolute;
    right: 0;
    top: 33px;
    width: 180px;
    height: 200px;
    background: white;
    padding: 0 5px;
    display: none;
    border: 1px solid #f2f2f2;
    padding-top: 10px;
    z-index: 10;
    box-sizing: border-box;
    padding-left: 10px;
}
.navRit_ul01{
    padding-bottom: 10px;
}
.navRit_p{
    border-top: 1px dashed #b2b2b2;
    padding-top: 7px;
}
.navRit_ul02{
    border-bottom: 1px dashed #b2b2b2;
    padding-bottom: 5px;
}
.navRit ul li:nth-child(6) ul{
    overflow: hidden;
    line-height: 20px;
}
.navRit ul li:nth-child(6):hover{
    background: white;
}
.navRit ul li:nth-child(6) p{
    line-height: 26px;
    font-size: 14px;
    font-weight: bold;
    color: #b2b2b2;
}
.navRit ul li:nth-child(6):hover div{
    display: block;
}
.navRit>ul>li:nth-child(7){
    padding-right: 20px; 
    position: relative;
}
.navRit>ul>li:nth-child(7)>a{
    padding-left: 20px;
    background: url("../images/nav04.jpg") no-repeat left 9px;
}
.navRit>ul>li:nth-child(7)>a{
    margin-right: 0;
}
.navRit>ul>li:nth-child(7):hover{
    background: white;
}
.navRit>ul>li:nth-child(7) span{
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top: 5px solid #b2b2b2;
    position: absolute;
    right: 6px;
    top: 14px;
    transition: all .5s;
    transform-origin: center 25%;
}
.navRit>ul>li:nth-child(7):hover span{
    transform: rotate(180deg);
}
.navRit>ul>li:nth-child(7) .navWebsite{
    width: 1490px;
    box-sizing: border-box;
    border: 1px solid #f2f2f2;
    border-top: none;
    position: absolute;
    right: 0;
    top: 33px;
    padding: 20px;
    display: none;
    z-index: 10;
    background: white;
}
.navRit>ul>li:nth-child(7):hover .navWebsite{
    display: block;
}
.navRit>ul>li:nth-child(7) .navWebsite ul{
    overflow: hidden;
}
.navRit>ul>li:nth-child(7) .navWebsite div{
    float: left;
}
.navRit>ul>li:nth-child(7) .navWebsite div:nth-child(1){
    width: 600px;
    border-right: 1px solid #f2f2f2;
}
.navRit>ul>li:nth-child(7) .navWebsite div:nth-child(1) p{
    font-size: 16px;
    color: orange;
}
.navRit>ul>li:nth-child(7) .navWebsite div:nth-child(1) ul li{
    width: 120px;
    float: left;
    height: 36px;
}
.navRit>ul>li:nth-child(7) .navWebsite div:nth-child(2){
    width: 600px;
    border-right: 1px solid #f2f2f2;
    box-sizing: border-box;
    padding-left: 20px;
}
.navRit>ul>li:nth-child(7) .navWebsite div:nth-child(2) p{
    font-size: 16px;
    color: rgb(78, 78, 216);
}
.navRit>ul>li:nth-child(7) .navWebsite div:nth-child(2) ul li{
    width: 110px;
    float: left;
    height: 36px;
}
.navRit>ul>li:nth-child(7) .navWebsite div:nth-child(3){
    width: 200px;
    box-sizing: border-box;
    padding-left: 20px;
}
.navRit>ul>li:nth-child(7) .navWebsite div:nth-child(3) p{
    font-size: 16px;
    color: #b2b2b2;
}
.navRit>ul>li:nth-child(7) .navWebsite div:nth-child(3) ul li{
    width: 90px;
    float: left;
    height: 36px;
}
/* header */
.header{
    width: 1490px;
    margin: 0 auto;
    box-sizing: border-box;
    height: 104px;
    padding: 24px 0 0 50px;
}
.header>img{
    float: left;
    margin-right: 80px;
}
.headerCont{
    float: left;
}
.headerAera{
    position: relative;
    float: left;
}
.headerAera .headerAeraOne{
    width: 95px;
    height: 48px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    text-align: center;
    line-height: 48px;
    font-size: 20px;
    color: #e22a40;
}
.headerAeraOthers{
    position: absolute;
    left: 0;
    top: 50px;
    width: 600px;
    padding: 30px 0 0 0;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    display: none;
    background: white;
    z-index: 10;
}
.headerAeraOthers p{
    font-size: 18px;
    color: #b5b5b5;
    margin-bottom: 30px;
    padding-left: 30px;
}
.headerAeraOthers>ul{
    overflow: hidden;
    padding-left: 30px;
}
.headerAeraOthers>ul>li{
    float: left;
    width: 88px;
    margin-bottom: 20px;
}
.headerAeraOthers>ul>li a{
    font-size: 18px;
    color: #5f5f5f
}
.headerAeraOthers>ul>li a:hover{
    color: red;
}
.headerCitys{
    padding-top: 10px;
}
.headerCtiyTop{
    height: 52px;
    border-bottom: 1px solid #eeeeee;
    padding: 0 30px;
}
.headerCtiyTop ul{
    overflow: hidden;
    display: flex;
}
.headerCtiyTop ul li{
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    line-height: 52px;
    float: left;
    color: #2f2f2f;
    font-size: 16px;
}
.headerCityBot{
    position: relative;
    height: 400px;
}
.headerCityBot .headerCity01{
    position: absolute;
    left: 0;
    top: 0;
}
.headerCity01 div p{
    font-size: 16px;
    color: #e76666;
    float: left;
}
.headerCity01 div{
    padding: 30px 0 0 0;
}
.headerCity01 div ul{
    overflow: hidden;
    padding-left: 25px;
}
.headerCity01 div ul li{
    float: left;
    width: 80px;
    margin-bottom: 10px;
}
.headerCity01 div ul li a{
    font-size: 18px;
    color: #4c4c4c;
}
.headerCity01 div ul li a:hover{
    color: red;
}
.headerSearch{
    width: 676px;
    height: 45px;
    border: 4px solid #ff0036;
    box-sizing: border-box;
    float: left;
    margin-left: 60px;
    position: relative;
}
.headerInput{
    width: 560px;
    height: 37px;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding-left: 5px;
}
.headerInput::-webkit-input-placeholder{
    color: #b3b3b3;
    font-size: 14px;
}
.headerBtn{
    width: 108px;
    height: 37px;
    position: absolute;
    right: 0;
    top: 0;
    background: #ff0036;
    line-height: 37px;
    text-align: center;
    font-size: 20px;
    color: white;
}
.headerNotes{
    float: left;
    margin-left: 30px;
}
.headerNotes li{
    float: left;
}
.headerNotes li:nth-child(1){
    margin-right: 26px;
}
.headerNotes li:nth-child(2){
    margin-right: 20px;
}
.headerNotes li:nth-child(3){
    margin-right: 10px;
}
.headerNotes li:nth-child(1),.headerNotes li:nth-child(2){
    padding-top: 12px;
}
.headerNotes li:nth-child(1) a,.headerNotes li:nth-child(2) a{
    font-size: 14px;
    color: #666666;
}
.headerNotes li img{
    display: block;
    float: left;
}
/* banner */
.banner{
    width: 1490px;
    margin: 0 auto;
}
.bannerTop{
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #2f2f2f;
}
.bannerTopLeft{
    width: 300px;
    height: 100%;
    background: #2f2f2f;
    line-height: 45px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    float: left;
}
.bannerTopCenter{
    float: left;
}
.bannerTopCenter li{
    height: 45px;
    
    float: left;
}
.bannerTopCenter li a{
    font-size: 20px;
    color: #2f2f2f;;
    display: block;
    margin-top: 12px;
    font-weight: bold;
    padding: 0 30px 0;
    border-right: 1px solid #d9d9d9;
}
.bannerTopCenter li:last-child a{
    border-right: none;
}
.bannerTopRit{
    float: right;
}
.bannerTopRit_Person{
    float: left;
    background: url("../images/banner02.jpg") no-repeat left 13px;
    padding: 13px 0 0 30px;
    font-size: 14px;
    color: #666666;
    margin-right: 30px;
}
.bannerTopRit_Shopcar{
    float: left;
    background: #bf0000;
    height: 40px;
    margin-bottom: 5px;
    line-height: 40px;
    width: 240px;
    position: relative;
    transition: all .5s;
}
.bannerTopRit_Shopcar:hover{
    width: 280px;
}
.bannerTopRit_Shopcar:hover .bannerTopRit_Shopcar_items{
    display: block;
}
.bannerTopRit_Shopcar p{
    float: left;
}
.bannerTopRit_Shopcar img{
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.bannerTopRit_Shopcar p:nth-of-type(1){
    color: #fcff00;
    font-size: 14px;
    margin-right: 5px;
}
.bannerTopRit_Shopcar p:nth-of-type(1) span{
    font-size: 20px;
}
.bannerTopRit_Shopcar p:nth-of-type(2){
    color: white;
    font-size: 14px;
    margin-right: 5px;
}
.bannerTopRit_Shopcar>span:nth-last-of-type(1){
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top: 5px solid white;
    position: absolute;
    right: 10px;
    top: 20px;
}
.bannerTopRit_Shopcar_items{
    position: absolute;
    right: 0;
    top: 40px;
    width: 220px;
    height: 200px;
    border: 2px solid #bf0000;
    border-top: none;
    display: none;
    background: white;
    box-sizing: border-box;
}
/* ----左边多一像素---- */
.bannerTopRit_Shopcar_items ul{
    height: 40px;
    width: 216px;
    overflow: hidden;
    background: #e7e5e5;
}
.bannerTopRit_Shopcar_items ul li{
    float: left;
    width: 54px;
    text-align: center;
    line-height: 40px;
    
}
.bannerTopRit_Shopcar_items ul li a{
    font-size: 14px;
    color: #666666;
}
.bannerTopRit_Shopcar_items div{
    font-size: 14px;
    padding: 0 20px;
    color: #666666;
    line-height: 26px;
}
.bannerBot{
    width: 1490px;
    height: 731px;
    margin: 0 auto;
}
.bannerLeft{
    width: 300px;
    height: 731px;
    float: left;
    box-sizing: border-box;
    background: white;
    border: 1px solid #e7e7e7;
}
.bannerLeft>ul{
    width: 100%;
}
.bannerLeft>ul>li{
    height: 92px;
    box-sizing: border-box;
    border-bottom: 1px solid #e7e7e7;
    padding: 20px 18px;
    position: relative;
    background: url(../images/banner12.jpg) no-repeat 238px 25px;
}
.bannerLeft>ul>li:hover{
    background: url(../images/banner12a.jpg) no-repeat 238px 25px;
    background-color: #e31a3a;
}
.bannerLeft>ul>li:hover div>p{
    color: white;
}
.bannerLeft>ul>li:last-child{
    border-bottom: 0;
}
.bannerLeft>ul>li>div>p{
    font-size: 16px;
    font-weight: bold;
}
.bannerLeft>ul>li:nth-child(1)>div{
    padding-left: 38px;
    background: url("../images/banner03.jpg") no-repeat left 3px;
}
.bannerLeft>ul>li:nth-child(1):hover >div{
    background: url("../images/banner03a.jpg") no-repeat left 3px;
}
.bannerLeft>ul>li:nth-child(2)>div{
    padding-left: 38px;
    background: url("../images/banner04.jpg") no-repeat left 3px;
}
.bannerLeft>ul>li:nth-child(2):hover >div{
    background: url("../images/banner04a.jpg") no-repeat left 3px;
}
.bannerLeft>ul>li:nth-child(3)>div{
    padding-left: 38px;
    background: url("../images/banner05.jpg") no-repeat left 3px;
}
.bannerLeft>ul>li:nth-child(3):hover >div{
    background: url("../images/banner05a.jpg") no-repeat left 3px;
}
.bannerLeft>ul>li:nth-child(4)>div{
    padding-left: 38px;
    background: url("../images/banner06.jpg") no-repeat left 3px;
}
.bannerLeft>ul>li:nth-child(4):hover >div{
    background: url("../images/banner06a.jpg") no-repeat left 3px;
}
.bannerLeft>ul>li:nth-child(5)>div{
    padding-left: 38px;
    background: url("../images/banner07.jpg") no-repeat left 3px;
}
.bannerLeft>ul>li:nth-child(5):hover >div{
    background: url("../images/banner07a.jpg") no-repeat left 3px;
}
.bannerLeft>ul>li:nth-child(6)>div{
    padding-left: 38px;
    background: url("../images/banner08.jpg") no-repeat left 3px;
}
.bannerLeft>ul>li:nth-child(6):hover >div{
    background: url("../images/banner08a.jpg") no-repeat left 3px;
}
.bannerLeft>ul>li:nth-child(7)>div{
    padding-left: 38px;
    background: url("../images/banner09.jpg") no-repeat left 3px;
}
.bannerLeft>ul>li:nth-child(7):hover >div{
    background: url("../images/banner09a.jpg") no-repeat left 3px;
}
.bannerLeft>ul>li>div>ul{
    overflow: hidden;
    padding-top: 5px;
}
.bannerLeft>ul>li>div>ul>li{
    float: left;
    margin-right: 8px;
}
.bannerLeft>ul>li>div>ul>li>a{
    font-size: 14px;
    color: #999999;
}
.bannerLeft>ul>li>div>ul>li>a:hover{
    color: red;
}
.bannerLeftItems{
    width: 1191px;
    height: 458px;
    box-sizing: border-box;
    border: 4px solid #e22a40;
    position: absolute;
    background: white;
    display: none;
    z-index: 6;
}
.bannerLeftItems>li{
    float: left;
}
.bannerLeftItems>li:nth-child(1),.bannerLeftItems>li:nth-child(2),.bannerLeftItems>li:nth-child(3){
    width: 310px;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px dashed #d3d3d3;
}
.bannerLeftItem01{
    left: 298px;
    top: 0;
    display: none;
}
.bannerLeftItems>li{
    padding: 20px 0 0 30px;
}
.bannerLeftItems>li div p{
    padding-bottom: 16px;
}
.bannerLeftItems>li div p a{
    color: #515151;
    line-height: 16px;
}
.bannerLeftItems>li ul li a{
    color: #b3b3b3;
}
.bannerLeftItems a:hover{
    color: red;
}
.bannerLeftItems>li div ul{
    margin-bottom: 10px;
    overflow: hidden;
}
.bannerLeftItems>li div ul li{
    float: left;
    padding: 0 10px;
    border-right: 1px solid #e7e7e7;
}
.bannerLeftItems>li div ul li:first-child{
    padding-left: 0;
}
.bannerLeftItems>li div ul li:last-child{
    border-right: none;
}
.bannerLeftItems>li div{
    margin-bottom: 30px;
}
.bannerLeftItems_a{
    color: red !important;
}
.bannerLeftItems>li:last-child{
    background: #f7f8f8;
    height: 100%;
    width: 252px;  
    box-sizing: border-box;
    padding-left: 0 !important;
    position: relative;
}
.bannerLeftItems>li:last-child div{
    padding-left: 30px;
}
.bannerLeftItems>li:last-child div:nth-of-type(2) p a{
    color: red;
}
.bannerLeftItems>li:last-child img{
    display: block;
    width: 100%;
    position: absolute;
    bottom: 10px;
}
.bannerLeftItem05{
    left: 298px;
    top: -92px;
}
.bannerLeftItem06{
    left: 298px;
    top: -184px;
}
.bannerLeftItem07{
    left: 298px;
    top: -276px;
}
.bannerLeft_bot{
    width: 298px;
    height: 85px;
    box-sizing: border-box;
    padding: 20px 0 20px 58px; 
    background: url(../images/banner10.jpg) no-repeat 20px 20px;
    border-top: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}
.bannerLeft_bot p a{
    font-size: 16px;
    font-weight: bold;
    color: #515151;
}
.bannerLeft_bot ul{
    padding-top: 5px;
    overflow: hidden;
}
.bannerLeft_bot ul li{
    float: left;
    margin-right: 8px;
}
.bannerLeft_bot ul li a{
    font-size: 14px;
    color: #999999; 
}
.bannerLeft_bot a:hover{
    color: red;
}
.bannerCenter{
    width: 937px;
    height: 731px;
    float: left;
    box-sizing: border-box;
    border-bottom: 1px solid #e7e7e7;
}
.bannerBox{
    width: 936px;
    height: 364px; 
}
.bannerCenterBot{
    width: 937px;
    height: 367px;
    box-sizing: border-box;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}                   
.bannerCenterBot>ul:nth-child(1){
    width: 100%;
    height: 150px;
    z-index: 10;
}
.bannerCenterBot>ul li{
    float: left;
    width: 312px;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid #e5e5e5;
}
.bannerCenterBot>ul li:last-child{
    border-right: 0;
}
.bannerCenterBot>ul li img{
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    z-index: 10;
}
.bannerCenterBot>ul:nth-child(2){
    width: 100%;
    height: 215px;
}
.bannerCenterBot>ul li:hover img{
    transform:scale(1.1);
}
.bannerRit{
    width: 237px;
    height: 731px;
    float: right;
    box-sizing: border-box;
}
.bannerRitTop{
    width: 237px;
    height: 290px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #faed7d;
    background: #fffce0;
}
.bannerRitTop01{
    width: 100%;
    height: 44px;
    background: url(../images/banner19.jpg) no-repeat 63px center;
    background-color: #ffe401;
    text-align: center;
    font-size: 14px;
    color: #666666;
    line-height: 44px;
}
.bannerRitTop02{
    width: 100%;
    height: 157px;
    font-size: 14px;
    color: #666666;
    text-align: center;
    box-sizing: border-box;
    padding: 25px 11px 0 11px;
}
.bannerRitTop02 img{
    display: block;
    margin: 0 auto 20px;

}
.bannerRitTop02 p{
    margin: 0 auto;
    font-size: 14px;
    color: #2f2f2f;
}
.bannerRitTop02 a{
    font-size: 14px;
    color: red;
}
.bannerRitTop03{
    width: 100%;
    height: 87px;
    background: #fffce0;
    box-sizing: border-box;
    padding: 0 11px 0;
}
.bannerRitTop03 ul{
    border-top: 1px solid #faed7d;
}
.bannerRitTop03 ul li{
    float: left;
    width: 71px;
    box-sizing: border-box;
    margin-top: 18px;
    border-right: 1px solid #faed7d;
    text-align: center;
}
.bannerRitTop03 ul li:last-child{
    border-right: none;
}
.bannerRitTop03 ul li a{
    font-size: 14px;
    color: #2f2f2f;
}
.bannerRitTop03 ul li img{
    display: block;
    margin: 0 auto;
}
.bannerRitTop03 ul li a p{
    margin-top: 5px;
}
.bannerRitBot{
    width: 237px;
    box-sizing: border-box;
    height: 429px;
    border: 1px solid #e5e5e5;
    background: #f2f2f2;
}
.bannerRitBot img{
    display: block;
    width: 100%;
}
.bannerRitBot img:first-child{
    border-bottom: 1px solid #e5e5e5;
}
/* 零食 */
.lingshi{
    width: 1490px;
    margin: 0 auto;
    overflow: hidden;
}
.lingshiTitle{
    width: 100%;
    height: 100px;
    line-height: 50px;
    font-size: 26px;
    color: #2f2f2f;
    border-bottom: 2px solid #000000; 
    box-sizing: border-box;
    padding-left: 7px;
    padding-top: 50px;
    /* margin-top: 50px; */
}
.lingshiLeft{
    width: 300px;
    background: #ff9228;
    float: left;
}
.lingshiLeft ul{
    width: 245px;
    height: 250px;
    margin: 26px auto 0;
}
.lingshiLeft li{
    width: 74px;
    height: 74px;
    background: white;
    line-height: 74px;
    float: left;
    margin-right: 10px;
    margin-bottom: 12px;
    border-radius: 50%;
    text-align: center;
}
.lingshiLeft li:nth-child(3n){
    margin-right: 0;
}
.lingshiLeft li:nth-child(6),.lingshiLeft li:nth-child(7),.lingshiLeft li:nth-child(8){
    margin-bottom: 0;
}
.lingshiLeft li a{
    color: #2f2f2f;
    font-size: 14px;
}
.lingshiLeft img{
    display: block;
    width: 100%;
}
.lingshiCenter{
    width: 1004px;
    float: left;
}
.lingshiCenter ul{
    width: 1004px;
    border-top: 1px solid #000000;
    overflow: hidden;
}
.lingshiCenter ul li{
    width: 251px;
    height: 326px;
    border-left: 1px solid #e7e7e7;
    float: left;
    box-sizing: border-box;
    text-align: center;
}
.lingshiCenter ul li>a p{
    width: 198px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
    padding-bottom: 10px;
    color: #666666;
}
.lingshiCenter ul li>a>img{
    display: block;
    margin: 0 auto;
    width: 198px;
    padding: 24px 0 24px;
}
.lingshiCenter ul li div{
    width: 198px;
    height: 44px;
    margin: 0 auto;
}
.lingshiCenter ul li div span{
    display: block;
    float: left;
}
.lingshiCenter ul li div span:nth-of-type(1){
    font-size: 12px;
    padding-top: 28px;
}
.lingshiCenter ul li div span:nth-of-type(2){
    padding-top: 21px;
    font-size: 18px;
}
.lingshiCenter ul li div img{
    display: block;
    float: right;
}
.lingshiRit{
    width: 186px;
    float: left;
}
.lingshiRit img{
    width: 100%;
    display: block;
}
/* 酒饮 */
.jiuyin .lingshiLeft{
    background: #b373fb;
}
/* 奶制品 */
.naizhipin .lingshiLeft{
    background: #2abff6;
}
/* 休闲零食 */
.xiuxian .lingshiLeft{
    background: #67cd7d;
} 
/* 饼干 */
.binggan .lingshiLeft{
    background: #ff7a64;
}  
/* 酒水 */
.jiushui .lingshiLeft{
    background: #83cfff;
}  
/* 保健 */
.baojian .lingshiLeft{
    background: #c6a868;
}
/* 杂粮 */
.zaliang .lingshiLeft{
    background: #ffbb00;
}
/* 调味 */
.tiaowei .lingshiLeft{
    background: #f4935f;
}
/* 清洁 */
.qingjie .lingshiLeft{
    background: #6290f6;
}
/* 护肤 */
.hufu .lingshiLeft{
    background: #ff909f;
}
/* 护理 */
.huli .lingshiLeft{
    background: #28cfc1;
}
/* 纸制品 */
.zhizhipin .lingshiLeft{
    background: #f8c374;
}
/* 家庭清洁 */
.jiatingqingjie .lingshiLeft{
    background: #84aeff;
}
/* 母婴用品 */
.muying .lingshiLeft{
    background: #ff77ad;
}
/* footTop */
.footTop{
    width: 1490px;
    height: 220px;
    margin: 65px auto 15px;
    background: #efefef;
    box-sizing: border-box;
    border-top: 1px solid #e4e4e4;
}
.footTop>ul{
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 25px 0;
}
.footTop>ul>li{
    flex: 1;
    box-sizing: border-box;
    border-right: 1px solid #e4e4e4;
    padding-left: 24px;
}
.footTop>ul>li>p{
    padding: 35px 0 18px 32px;
    color: #e9394e;
}
.footTop>ul>li>a{
    display: block;
    width: 85px;
    float: left;
    margin:0 35px 16px 0;
    color: #444444;
    font-size: 14px;
}
.footTop>ul>li>a:hover{
    color: #e9394e;
}
.footTop>ul>li:nth-child(1)>p{
    background: url(../images/footTop01.jpg) no-repeat left 28px;
}
.footTop>ul>li:nth-child(2)>p{
    background: url(../images/footTop02.jpg) no-repeat left 30px;
}
.footTop>ul>li:nth-child(3)>p{
    background: url(../images/footTop03.jpg) no-repeat left 30px;
}
.footTop>ul>li:nth-child(4)>p{
    background: url(../images/footTop04.jpg) no-repeat left 30px;
}
.footTop>ul>li:nth-child(5)>p{
    background: url(../images/footTop05.jpg) no-repeat left 30px;
}
.footTop>ul>li:last-child{
    border-right: 0;
}
/* footBot */
.footBot{
    width: 100%;
    border-top: 1px solid #ededed;
}
.footBotBox{
    width: 1490px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    padding: 32px 0 40px;
}
.footBotBox>img{
    display: block;
    float: left;
    margin-right: 120px;
}
.footBotBox>ul{
    float: left;
}
.footBotBox>ul>li{
    width: 250px;
    float: left;
}
.footBotBox>ul>li>p{
    color: #646464;
    font-weight: bold;
    padding-bottom: 18px;
}
.footBotBox>ul>li>a{
    display: block;
    font-size: 14px;
    color: #8b8b8b;
    padding-bottom: 10px;
}
/* footNav */
.footNav{
    width: 100%;
    background: #c40000;
}
.footNavBox{
    width: 1490px;
    margin: 0 auto;
    padding-bottom: 5px;
    position: relative;
}
.footNavBox>img{
    display: block;
    position: absolute;
    left: 0;
    top: -30px;
}
.footNavBox>div{
    overflow: hidden;
}
.footNavBox>div p{
    margin-right: 80px;
}
.footNavBox>div:first-of-type{
    padding-top: 15px;
    padding-bottom: 20px;
}
.footNavBox>div:nth-of-type(2){
    padding-bottom: 20px;
}
.footNavBox>div:first-of-type a{
    font-size: 12px;
    color: white;
    margin-right: 8px;
}
.footNavBox>div:nth-of-type(2) a{
    font-size: 12px;
    color: white;
    padding: 0 8px 0;
    border-right: 1px solid white;
}
.footNavBox>div:nth-of-type(2) a:first-child{
    padding-left: 0;
}
.footNavBox>div:nth-of-type(2) a:last-child{
    border-right: 0;
}
.footNavBox>div:nth-of-type(3) p,.footNavBox>div:nth-of-type(4) p,.footNavBox>div:nth-of-type(5) p,.footNavBox>div:nth-of-type(6) p{
    font-size: 12px;
    color: #a4a4a4;
    float: left;
}
.footNavBox>div:nth-of-type(3),.footNavBox>div:nth-of-type(4),.footNavBox>div:nth-of-type(5),.footNavBox>div:nth-of-type(6){
    padding-bottom: 12px;
}
.footNavBox>div:last-of-type p{
    font-size: 12px;
    color: #686868;
}
.footNavBox>div:nth-of-type(4) p:last-of-type{
    background: url(../images/footNav02.png) no-repeat left top;
    padding-left: 22px;
}
/* 固定左侧 */
.leftFix{
    width: 98px;
    height: 300px;
    position: fixed;
    left: 14px;
    top: 100px;
    display: none;
}
.leftFix ul{
    width: 98px;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
}
.leftFix ul li{
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: white;
    border-bottom: 1px solid #e7e7e7;
}
.leftFix ul li:last-of-type{
    height: 31px;
}
.leftFix ul li:last-of-type{
    border-bottom: 0;
}
.leftFix ul li a{
    font-size: 14px;
    color: #9a9a9a;
}
.leftFix div:nth-of-type(1){
    width: 100%;
    height: 96px;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    border-top: none;
    background: white;
    padding: 7px 0;
}
.leftFix div:nth-of-type(1) img{
    display: block;
    margin: 0 auto;
    width: 85%;
}
.leftFix div:nth-of-type(2){
    width: 100%;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    border-top: none;
    font-size: 14px;
    color: #9a9a9a;
    text-align: center;
    background: url(../images/leftFix02.jpg) no-repeat 79px 9px;
    background-color: white;
}
.leftFix div:nth-of-type(2) a{
    font-size: 14px;
    color: #9a9a9a;
}
/* 固定右侧 */
.rightFix{
    width: 35px;
    height: 100%;
    background: #000000;
    position: fixed;
    right: 0;
    top: 0;
}
.rightFix>ul:first-child{
    width: 100%;
    padding-top: 200px;
}
.rightFix ul li{
    width: 100%;
    color: white;
    text-align: center;
    position: relative;
}
.rightFix ul li div{
    position: absolute;
    top: 0;
    right: 35px;
    opacity: 0;
    transition: all .5s;
    background: #494949;
    width: 110px;
    text-align: center;
    color: white;
    transform:translateX(-30px);
}
.rightFix ul li:hover{
    background: #ff0036;
}
.rightFix ul li:hover div{
    transform: translateX(0);
	opacity: 1;
}
.rightFix ul li div{
    height: 35px;
    line-height: 35px;
}
.rightFix ul li{
    height: 35px;
    line-height: 35px;
}
.rightFix ul:first-child li{
    margin: 12px 0;
}
.rightFix ul li span{
    font-size: 20px;
}
.rightFix>ul:first-child li:nth-child(3) span{
    font-size: 24px;
}
.rightFix>ul:first-child li:nth-child(4) span{
    font-size: 18px;
}
.rightFix>ul:last-child{
    width: 100%;
    padding-top: 240px;
}
.rightFix>ul:last-child li:nth-child(2) span{
    font-size: 24px;
}
.rightFix>ul:last-child li:nth-child(3) span{
    font-size: 24px;
}
.rightFix>ul:last-child li:nth-child(2) img{
    position: absolute;
    bottom: 0;
    right: 35px;
    display: none;
}
.rightFix>ul:last-child li:nth-child(2):hover img{
    display: block;
}